*.gz
*.iso
*.img
mini/*.gz
mini/*.iso
mini/*.img
tmp/
mini/tmp/
packages/*.txz
mini/packages/*.txz
tools/pkg-static
tools/roothack/.depend
tools/roothack/.depend.roothack.o
tools/roothack/roothack
tools/roothack/roothack.debug
tools/roothack/roothack.full
tools/roothack/roothack.o
work
