# $FreeBSD$
#
console	none				unknown	off secure
#
ttyv0	"/usr/libexec/getty Pc"		xterm	on  secure
# Virtual terminals
ttyv1	"/usr/libexec/getty Pc"		xterm	off secure
ttyv2	"/usr/libexec/getty Pc"		xterm	off secure
ttyv3	"/usr/libexec/getty Pc"		xterm	off secure
ttyv4	"/usr/libexec/getty Pc"		xterm	off secure
ttyv5	"/usr/libexec/getty Pc"		xterm	off secure
ttyv6	"/usr/libexec/getty Pc"		xterm	off secure
ttyv7	"/usr/libexec/getty Pc"		xterm	off secure
ttyv8	"/usr/local/bin/xdm -nodaemon"	xterm	off secure
# Serial terminals
# The 'dialup' keyword identifies dialin lines to login, fingerd etc.
ttyu0	"/usr/libexec/getty 3wire"	vt100	onifconsole secure
ttyu1	"/usr/libexec/getty 3wire"	vt100	onifconsole secure
ttyu2	"/usr/libexec/getty 3wire"	vt100	onifconsole secure
ttyu3	"/usr/libexec/getty 3wire"	vt100	onifconsole secure
# Dumb console
dcons	"/usr/libexec/getty std.9600"	vt100	off secure
