---
name: mfsBSD Release Process

on:  # yamllint disable-line
  # Defer to Cirrus CI when dealing with non-release workflows.
  push:
    tags:
      - "v[0-9]*.[0-9]*.[0-9]*"
  workflow_dispatch:
    tags:
      - "v[0-9]*.[0-9]*.[0-9]*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        freebsd: ['13.5', '14.3', '15.0']
        script:
          - build-std
          - build-se
          - build-mini
      fail-fast: false

    name: FreeBSD ${{ matrix.freebsd }} / ${{ matrix.script }}

    steps:
      - uses: actions/checkout@v6

      - name: Build inside FreeBSD VM
        uses: vmactions/freebsd-vm@v1.3.6
        with:
          release: ${{ matrix.freebsd }}
          usesh: true
          run: |
            freebsd-version -kru
            pkg update -f
            ci/ci.sh -b prepare
            ci/ci.sh -b ${{ matrix.script }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: mfsbsd-${{ matrix.freebsd }}-${{ matrix.script }}.iso
          path: |
            *.iso
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          path: dist

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          files: dist/**/*.iso
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
